*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.website {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: #020201;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  padding: 0 68px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #D4CF79;
}

ul {
  list-style: none;
}

.btn {
  background-color: transparent;
  border: 1px solid #FF813B;
  border-radius: 8px;
  color: #FF813B;
  cursor: pointer;
}

.header {
  margin-bottom: 148px;
}
.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
}
.header__logo {
  font-family: "Rubik Pixels", "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 108.96%;
  color: #FF813B;
}
.header__nav-list {
  display: flex;
}
.header__nav-list--item:not(:last-child) {
  margin-right: 29px;
}
.header__nav-list--item {
  transition: border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}
.header__nav-list--item.active {
  border-bottom: 2px solid #FF813B;
}
.header__nav-list--item:hover {
  border-bottom: 2px solid #FF813B;
}
.header__burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.header__burger span:not(:last-child) {
  margin-bottom: 6px;
}
.header__burger span {
  width: 30px;
  height: 2px;
  background-color: #D4CF79;
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 0 34px;
  }
}
@media only screen and (max-width: 650px) {
  .header__nav {
    display: none;
  }
  .header__nav-list {
    flex-direction: column;
    position: absolute;
    right: 34px;
    top: 100px;
    align-items: flex-end;
  }
  .header__nav-list--item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header__nav.elblock {
    display: flex;
  }
  .header__burger {
    display: flex;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
}

.hacker-man {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.hacker-man__title {
  width: 617px;
}
.hacker-man__title-head {
  font-family: "Rubik Pixels", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 94.96%;
  color: #FF813B;
}
.hacker-man__title-head--small {
  color: rgb(224, 59, 59);
  font-size: 40px;
}
.hacker-man__img {
  object-fit: cover;
}
.hacker-man__btn-our {
  font-family: "Rubik Pixels", "sans-serif";
  padding: 10px 20px;
  background-color: #FF813B;
  color: #020201;
  font-weight: 700;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.hacker-man__btn-our:hover {
  background-color: rgba(255, 129, 59, 0.8);
}
.hacker-man__btn-our:active {
  transform: scale(0.9);
}
.hacker-man__btn-us {
  padding: 10px 20px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.hacker-man__btn-us:hover {
  background-color: #FF813B;
  color: #020201;
}
.hacker-man__btn-us:active {
  transform: scale(0.9);
}
.hacker-man__text {
  color: #B2AE66;
  margin-top: 21px;
  margin-bottom: 91px;
  font-size: 18px;
  width: 531px;
}

@media only screen and (max-width: 1200px) {
  .hacker-man__title-head {
    font-size: 56px;
  }
  .hacker-man__text {
    font-size: 16px;
    width: 400px;
  }
  .hacker-man__img {
    width: 500px;
  }
}/*# sourceMappingURL=main.css.map */