.footer {
    background-color: #0F0F08;
    padding: 40px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    &__card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
    }

    &__card h4 {
        color: $brand-color;
    }
    &__card img {
        color: red;
    }
}